<section>
    <p>
        <a href="@main-link">
            <strong style="font-size: larger">@title</strong>
        </a> (@year) <br>
        <strong class="text-dark">@subtitle</strong>
        @links<br>
        @description
        <br>

        <span class="badge pl-2 pr-2" style="background-color: antiquewhite">@lang</span> &nbsp;
        <span class="text-monospace">@tags </span>
        <a class="btn btn-light d-print-none" style="background-color: #F0F0F0" data-toggle="collapse" href="#@collapse-id">@images-text</a>
    </p>
</section>