<!-- CV_Experience.html-->

<h4>@ Unity Technologies</h4>
<h6 class="text-black-50 pb-3">4 yrs 7 mos</h6>
<hr>

<template src="Templates/_Experience.html">
    <@title>Software Developer, Quality</@title>
    <@date>Aug 2018 – Present : 1 yrs 10 mos</@date>
    <@location>Denmark, Copenhagen</@location>
    <@resp>
        Creating and maintaining various internal tools like continuous integration, test data storage, performance data visualization (C#).<br>
        Fixing bugs and improving functionality in legacy codebase (C++).<br>
        Improving team's organizational velocity, meeting quality, planning structure.
    </@resp>
    <@skills>
        <li>MySQL with MS Entity Framework</li>
        <li>Socket programming and Rest APIs</li>
        <li>Agile/Kanban</li>
        <li>More C++ and C# in general</li>
    </@skills>
    <@filling>
        <strong>In Addition to this I also:</strong>
        <ul>
            <li>Implemented and shipped imported asset artifact debugging tool inside Unity Engine (mostly C# and UI parts)</li>
        </ul>
    </@filling>
</template>

<template src="Templates/_Experience.html">
    <@title>Software Development Engineer in Test (SDET)</@title>
    <@date>Jun 2016 – Aug 2018 : 2 yrs 3 mos</@date>
    <@location>Lithuania, Vilnius</@location>
    <@resp>
        Work with the team in an Agile Environment (Team consists of Devs, UX, Designers, Testers, Project/Product managers).
        Write full 95-100% functional and decision test coverage on both unit tests, integration tests, performance tests, regression tests, etc.<br>
        Make sure everybody (Devs) on a team knows and does write tests.<br>
        Make sure everybody have the right tools to write tests and view test data.<br>
        Make sure everybody is aware of current quality status, current bugs and automation status.
    </@resp>
    <@skills>
        <li>Broadened C# knowledge.</li>
        <li>NUnit testing framework.</li>
        <li>C++ knowledge on real life projects.</li>
        <li>A bit of Python and Perl for small scripts solving miscellaneous problems</li>
        <li>QA theory in general, visited many testing and test automation related conferences.</li>
        <li>Agile/Scrum/Jira</li>
    </@skills>
    <@filling></@filling>
</template>

<template src="Templates/_Experience.html">
    <@title>QA Tester at Unity Technologies</@title>
    <@date>Nov 2015 – Jun 2016 : 8 mos</@date>
    <@location>Lithuania, Vilnius</@location>
    <@resp>
        Communicate with customers, find and reproduce their issues.
        Provide developers relevant info about bugs and other issues from customers.
        Verify fixed issue in released builds.
    </@resp>
    <@skills>
        <li>C#, Unity Game Engine.</li>
        <li>Fogbugz & Confluence</li>
        <li>Communication skills between customers and developers.</li>
        <li>Formal and polite English.</li>
        <li>Table tennis and football.</li>
    </@skills>
    <@filling></@filling>
</template>

<!-- /CV_Experience.html-->