<!-- CV_Skills.html-->

<section>
    <template src="Templates/_ListRow2.html">
        <@title>Languages:</@title>
        <@line>
            Expert in: <b>C#</b> <br>
            Intermediate: <b>C++ | C | Java</b> <br>
            Basics of: <b>SQL | Assembly</b> <br>
        </@line>
    </template>

    <template src="Templates/_ListRow2.html">
        <@title>Scripting:</@title>
        <@line>Basics of: <b>JavaScript | Python | Batch | Lua | Perl | PHP</b></@line>
    </template>

    <hr>

    <template src="Templates/_ListRow2.html">
        <@title>Technologies:</@title>
        <@line>
            Expert with: <b>Unity Engine</b> <br>
            Proficient with: <b>.NET (Core) | WinForms | MS Unity Framework | NUnit </b> <br>
            Intermediate: <b>ASP.NET MVC | MS Entity Framework | Bootstrap | Android App Development </b> <br>
            Basics of: <b>JQuery | OpenGL | OpenCV | Google Analytics | Machine Learning </b>
        </@line>
    </template>

    <template src="Templates/_ListRow2.html">
        <@title>Source Control:</@title>
        <@line>Proficient in: <b>Git | HG</b></@line>
    </template>

    <hr>

    <template src="Templates/_ListRow2.html">
        <@title>Databases Used:</@title>
        <@line>MSDB | MySQL | SQLite</@line>
    </template>

    <template src="Templates/_ListRow2.html">
        <@title>CI Systems Used:</@title>
        <@line>AppVeyor | Circle CI</@line>
    </template>

    <template src="Templates/_ListRow2.html">
        <@title>Top Soft Skills:</@title>
        <@line><b>Teamwork, Critical Thinking, Empathy, Adaptability</b></@line>
    </template>

    <template src="Templates/_ListRow2.html">
        <@title>Human Languages:</@title>
        <@line>Fluent: Lithuanian, English | Novice: Spanish</@line>
    </template>

    <hr>
</section>

<!-- /CV_Skills.html-->