<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Justas Glodenis</title>

    <include class="Layout/_LibsHead.html" />
</head>

<body>
    <include class="Layout/_Navigation.html" />

    <div class="container">
        <main role="main" class="pb-3">
            <!-- Layout.html Content -->
            <surround-content />
            <!-- /Layout.html Content -->
        </main>
    </div>

    <include class="Layout/_Footer.html" />

    <include class="Layout/_LibsBody.html" />
</body>

</html>