<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Justas Glodenis</title>

    <include src="Layout/_LibsHead.html" />

    <link rel="icon" type="image/png" href="Images/favicon.png" />

    <!-- <meta http-equiv="refresh" content="0; url=https://www.glodenis.com>/"> -->
</head>

<body>
    <include src="Layout/_Navigation.html" />

    <div class="container">
        <main role="main" class="pb-3">
            <!-- Layout.html Content -->
            <surround-content />
            <!-- /Layout.html Content -->
        </main>
    </div>

    <include src="Layout/_Footer.html" />

    <include src="Layout/_LibsBody.html" />
</body>

</html>